html, body {
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    display: block;
    margin: 8px;
    background: #F4F8FB;
    background-size: cover;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    background-position: 50% 50%;
}

div {
    display: block;
}
.form_table {
    width: auto !important;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0;
    border: 1px solid #E7EFF4;
    background: #FFFFFF;
    background-size: cover;
    color: #5F696E;
    overflow: hidden;
    box-shadow: none;
    background-position: 50% 50%;
}
.clear {
    clear: both;
    margin: 0;
    padding: 0;
}
.q {
    padding: 10px;
    margin-bottom: 15px;
    margin-left: 15px;
    float: left;
    display: block;
}
.q .item_anchor {
    position: relative;
    top: -15px;
}
.form_table a {
    background: #2193b0;  
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    
}
.q .segment_header {
    background-repeat: repeat;
}
.segment_header {
    width: auto;
    margin: 1px;
    color: #FFFFFF;
    background: #2193b0; 
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    background-size: cover;
    background-repeat: repeat;
    background-position: 50% 50%;
    border-radius: 0;
}
.q .segment_header h1, .q td.segment_header {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: normal;
    margin: 0;
}
.segment_header h1 {
    border-radius: 0;
    padding: 20px 10px;
    font-family: 'Roboto',sans-serif;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.q .top_question {
    margin-bottom: 10px;
   
}
b {
    font-weight: bold;
}
.q .question {
    color: #36454E;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: bold;
}
label {
    cursor: default;
}
.q .text_field {
    background: #FFFFFF;
    border: 1px solid #AFC4D2;
    border-radius: 2px;
    border-width: 1px;
    color: #36454E;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    margin: 1px 0;
    padding: 10px;
}
.highlight {
    background: #F4F8FB !important;
}
.highlight, tr.highlight td {
    transition: background-color .25s ease-out;
}
textarea {
    -webkit-writing-mode: horizontal-tb !important;
    font-family: monospace;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    column-count: initial !important;
    margin: 0em;
    border-width: 1px;
    border-style: solid;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding: 2px;
}
.q .inline_grid {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1em;
    margin-bottom: 1px;
}
.form_table table {
    font-size: 1em;
}
table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.q .inline_grid td {
    padding: 5px;
    vertical-align: baseline;
}
td {
    display: table-cell;
    vertical-align: inherit;
}
.q .choices label {
    display: inline-block;
    line-height: 1.2em;
    padding-left: calc(1.1em+ 5px);
    position: relative;
    vertical-align: text-top;
}
.full_width {
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-top: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    width: 100%;
}
.outside_container {
    width: 700px;
    padding: 1em 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #36454E;
}
.buttons_reverse {
    direction: rtl;
    text-align: center;
}
.outside_container .submit_button {
    color: #FFFFFF !important;
    background: #2193b0;  
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0); 
    background: linear-gradient(to right, #6dd5ed, #2193b0); 
    background-size: auto;
    border-style: none;
    border-width: 0px;
    border-color: #FFFFFF;
    border-radius: 2px;
    text-align: center;
    font-family: 'Roboto',sans-serif;
    font-size: 14px;
    font-weight: normal;
    min-width: 20%;
    padding: 10px 20px;
    text-transform: none;
    box-shadow: none;
}
.buttons_reverse .submit_button {
    direction: ltr;
}
input[type="button"], input[type="submit"], button {
    cursor: pointer;
    -webkit-appearance: none;
}
.submit_button {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    border-width: 1px;
    white-space: normal;
}


input[type="submit" i] {
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    color: -internal-light-dark(black, white);
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}